@mixin font-setting($color, $font-weight: normal, $font-size, $line-height) {
  color: $color;
  font-size: $font-size;
  font-family: Pretendard;
  @if $font-weight != normal {
    font-weight: $font-weight;
  }
  font-stretch: normal;
  font-style: normal;
  line-height: $line-height;
  letter-spacing: normal;
}

.gnb {
  width: 100%;
  height: 77px;
  background: rgba(60, 60, 60, 0.8);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  flex-direction: row;
  position: fixed;
  z-index: 100;
  &-logo {
    position: absolute;
    left: 60px;
  }
  &-menu {
    width: 554px;
    height: 31px;
    position: absolute;
    left: 324px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    @include font-setting(white, 300, 20px, 32px);
    div:hover {
      text-decoration: underline;
      cursor: pointer;
      transition: 0.25s;
    }
  }

  &-En {
    position: absolute;
    right: 271px;
    width: 122px;
    height: 44px;
    border-radius: 9px;
    display: flex;
    background: var(--Light-gray, #f0f0f0);

    .kr-btn {
      width: 61px;
      height: 44px;
      background: var(--Light-gray, #f0f0f0);
      border-radius: 9px;
      @include font-setting(#9e9e9e, 300, 20px, 2.3);
      text-align: center;
    }
    .en-btn {
      @extend .kr-btn;
      border-radius: 9px;
      background: var(--Dark-gray, #3c3c3c);
      @include font-setting(white, 300, 20px, 2.3);
    }
  }
  &-Kr {
    position: absolute;
    right: 271px;
    width: 122px;
    height: 44px;
    border-radius: 9px;
    display: flex;
    background: var(--Light-gray, #f0f0f0);

    .en-btn {
      width: 61px;
      height: 44px;
      border-radius: 9px;
      background: var(--Light-gray, #f0f0f0);
      @include font-setting(#9e9e9e, 300, 20px, 2.3);
      text-align: center;
    }
    .kr-btn {
      @extend .en-btn;
      border-radius: 9px;
      background: var(--Dark-gray, #3c3c3c);
      @include font-setting(white, 300, 20px, 2.3);
    }
  }
  &-join {
    display: flex;
    width: 158px;
    height: 44px;
    position: absolute;
    right: 60px;

    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: var(--Light-gray, #f0f0f0);
    @include font-setting(black, 300, 20px, 2.3);
  }
}

.gnb-white {
  @extend .gnb;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  .gnb-menu {
    color: #000;
    text-align: center;

    /* web. light.20 */
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px; /* 140% */
  }
  .gnb-tiny {
    position: absolute;
    left: 188px;
    top: 17px;
    color: var(--Dark-gray, #3c3c3c);
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px; /* 175% */
  }
}
