@mixin font-setting($color, $font-weight: normal, $font-size, $line-height) {
  color: $color;
  font-size: $font-size;
  font-family: Pretendard;
  @if $font-weight != normal {
    font-weight: $font-weight;
  }
  font-stretch: normal;
  font-style: normal;
  line-height: $line-height;
  letter-spacing: normal;
}
.home {
  width: 100%;

  &-anime {
    width: 100%;
    height: 727px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      margin-top: 77px;
    }
  }
  &-intro {
    height: 1272px;
    background-color: black;
    &-what {
      width: 948px;
      height: 244px;
      color: white;
      &-head {
        @include font-setting(white, 600, 60px, 28px);
      }
      &-about {
        @include font-setting(white, 400, 22px, 28px);
      }
      &-body {
        @include font-setting(white, 600, 30px, 36.5px);
      }
    }
  }
}
