.researcher {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &-meet-background {
    width: 100%;
    background-color: black;
    height: 1080px;
    z-index: 0;
  }
  &-meet {
    width: 1320px;
    height: 783px;
    margin: auto;
    background: black;
    &-head {
      margin-top: 256px;
      margin-bottom: 75px;
      color: #fff;
      margin-left: -40px;
      /* Pre.Semi 60 */
      font-family: Pretendard;
      font-size: 60px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px; /* 46.667% */
    }
  }
  &-body {
    width: 1192px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    &-head {
      width: 888px;
      color: #000;
      font-family: Pretendard;
      font-size: 30px;
      font-style: normal;
      font-weight: 600;
      line-height: 36.5px; /* 121.667% */
    }
    &-search {
      width: 584px;
      height: 36px;
      background: var(--Light-gray, #f0f0f0);
      display: flex;
      align-items: center;
      position: relative;
      margin-top: 70px;
      //justify-content: space-between;
      input {
        background: var(--Light-gray, #f0f0f0);
        margin-left: 16px;
        width: 525px;
        color: var(--Midium-gray, #9e9e9e);

        /* web. light.20 */
        font-family: Pretendard;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 28px; /* 140% */
      }
      img {
        position: absolute;
        right: 8px;
      }
    }
    &-list {
      margin-top: 20px;
      width: 1192px;
      max-height: 1742px;
      overflow: hidden;

      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 24px;
      row-gap: 50px;
      .researcher-info {
        width: 280px;
        height: 398px;
        display: flex;
        flex-direction: column;
        // margin-right: 24px;
        // margin-bottom: 50px;
        img {
          width: 280px;
          height: 278px;
          flex-shrink: 0;
          margin-bottom: 14px;
        }
        &-name {
          color: #000;

          /* web. semi.30 */
          font-family: Pretendard;
          font-size: 30px;
          font-style: normal;
          font-weight: 600;
          line-height: 28px; /* 93.333% */
          margin-bottom: 14px;
        }
        &-department {
          color: #000;
          font-family: Pretendard;
          font-size: 16px;
          font-style: normal;
          font-weight: 300;
          line-height: 28px; /* 175% */
          //margin-bottom: 4px;
        }
        &-project {
          @extend .researcher-info-department;
        }
      }
    }
    &-readmore {
      margin: auto;
      border-radius: 10px;
      border: 1px solid var(--Dark-gray, #3c3c3c);
      width: 186px;
      height: 44px;
      background-color: white;
      color: var(--Dark-gray, #3c3c3c);
      text-align: center;
      margin-top: 100px;
      /* web. light.20 */
      font-family: Pretendard;
      font-size: 20px;
      font-style: normal;
      font-weight: 300;
      line-height: 28px; /* 140% */
    }
  }
}
