.Events {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 77px;
  margin: auto;
}

.Section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 100px auto;
  width: 1192px;
}

.SectionTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  color: #000;
  font-family: Pretendard;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 80px;
  opacity: 0.9;
  text-align: start;
}

.SubPhrase {
  color: var(--Midium-gray, #9e9e9e);
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 50px;
}

.ButtonArrange {
  display: flex;
  justify-content: center;
  align-items: center;
}

.EventCardPaging {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.EventCardPaging img:nth-child(2) {
  margin: 0px 40px;
}
.EventCardPaging img:nth-child(2) circle {
  fill: #d9d9d9;
}

.EventBox__past {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
}

.EventCard {
  display: flex;
  flex-direction: column;
  width: 432px;
  height: 233px;
  flex-shrink: 0;
  background: var(--Dark-gray, #3c3c3c);
  padding: 14px 18px;
  margin-right: 24px;
}
.EventCard.InEvent {
  height: 388px;
}
.EventCard.Past {
  width: 584px;
  height: 372px;
  background: white;
  border: 1px solid var(--Dark-gray, #3c3c3c);
  padding: 0px;
  margin-bottom: 30px;
}

.EventCard-noevent {
  opacity: 0.2;
}

.EventCardImage {
  width: 584px;
  height: 278px;
  flex-shrink: 0;
  background: #717171;
  -o-object-fit: contain;
     object-fit: contain;
}

.EventCardPeriod {
  display: flex;
  justify-content: space-between;
}
.EventCardPeriod.Past {
  height: 94px;
  padding: 10px;
  flex-direction: column;
}

.EventCardMonth {
  color: #fff;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 6px;
  margin-left: 4px;
}

.EventCardDday {
  color: var(--Midium-gray, #9e9e9e);
  text-align: right;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
}

.EventCardDate {
  color: #fff;
  font-family: Pretendard;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 30px;
}
.EventCardDate.Past {
  color: var(--Midium-gray, #9e9e9e);
  font-size: 20px;
  font-weight: 300;
  margin: 0px;
}

.EventCardTitle {
  color: #fff;
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  margin-left: 4px;
  margin-bottom: 30px;
}
.EventCardTitle.InEvent {
  height: 175px;
}
.EventCardTitle.Past {
  color: #000;
  font-size: 30px;
  line-height: 35px;
  overflow: hidden;
  height: 40px;
  margin: 0px;
}

.EventCardTime {
  color: #fff;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
}

.SubtitleFont {
  color: #000;
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.DescriptFont {
  color: #000;
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.EventInformation {
  display: flex;
}

.EventImage {
  margin-top: 9px;
  width: 432px;
  height: 402px;
  flex-shrink: 0;
  margin-right: 20px;
}

.EventTitle {
  width: 736px;
  color: #000;
  font-family: Pretendard;
  font-size: 55px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  margin-bottom: 40px;
}

.EventPeriod {
  display: flex;
  margin-bottom: 30px;
}
.EventPeriod :first-child {
  margin-right: 20px;
}

.EventVenue,
.EventTime,
.EventWebsite {
  margin-bottom: 20px;
}
.EventVenue :first-child,
.EventTime :first-child,
.EventWebsite :first-child {
  margin-right: 30px;
}

.EventPurpose {
  width: 62%;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-bottom: 70px;
}
.EventPurpose :first-child {
  margin-bottom: 20px;
}

.EventDetail {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}
.EventDetail :first-child {
  margin-bottom: 20px;
}

.EventCarousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.EventCarousel.img {
  width: 16px;
  height: 32px;
  flex-shrink: 0;
}

.EventCarouselImages {
  display: flex;
  justify-content: space-around;
  height: 475px;
  width: 100%;
  margin: 0px 53px;
  overflow: hidden;
  margin-bottom: 70px;
}
.EventCarouselImages img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.EventMap {
  display: flex;
  flex-direction: column;
  margin-bottom: 150px;
}

.EventMapLocation {
  margin-top: 30px;
  width: 1192px;
  height: 475px;
  background: #d9d9d9;
}

.EventGallery {
  display: flex;
  flex-direction: column;
}

.EventGalleryImages {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 475px;
}
.EventGalleryImages img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 200px;
}/*# sourceMappingURL=events.css.map */