.ResearchCard {
  width: 280px;
  height: 546px;
  flex-shrink: 0;
  margin-right: 24px;
}

.ResearchImage {
  width: 280px;
  height: 339px;
  flex-shrink: 0;
  opacity: 0.9;
  background: var(--Light-gray, #f0f0f0);
  //   background-image: url("../../../../public/assets/images/logo.png");
}

.ResearchCategory {
  color: #000;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  opacity: 0.9;
  margin-top: 14px;
}

.ResearchTitle {
  color: #000;
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.9;
  margin-top: 14px;
}

.ResearchDate {
  color: var(--Midium-gray, #9e9e9e);
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
}

.ViewCount {
  display: flex;
  align-items: center;
  margin-top: 14px;

  img {
    width: 15px;
    height: 10px;
    flex-shrink: 0;
  }

  label {
    color: var(--Midium-gray, #9e9e9e);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    margin-left: 9px;
  }
}

.insights {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;
  &-head {
    width: 1194px;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 190px;
    .big {
      color: #000;

      /* Pre.Semi 60 */
      font-family: Pretendard;
      font-size: 60px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px; /* 46.667% */
      margin-bottom: 30px;
    }
    .small {
      color: var(--Midium-gray, #9e9e9e);

      /* web. semi.30 */
      font-family: Pretendard;
      font-size: 30px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px; /* 93.333% */
    }
  }
  &-gnb {
    width: 1194px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 21px;
    &-body {
      display: flex;
      flex-direction: row;
      width: 825px;
      //justify-content: space-b;
      button {
        border-bottom: 1px solid;
        padding: 4px 30px;
        background: #fff;

        color: var(--Midium-gray, #9e9e9e);
        font-family: Pretendard;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;

        &:hover {
          background: var(--Light-gray, #f0f0f0);
          color: #000;
        }

        &:focus {
          background: var(--Dark-gray, #3c3c3c);
          color: #fff;
        }
      }
    }
  }
  &-body {
    width: 1192px;
    max-height: 1314px;
    overflow: hidden;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
    row-gap: 12px;
    .insight-info {
      width: 280px;
      height: 430px;
      display: flex;
      flex-direction: column;
      &-box {
        width: 280px;
        height: 280px;
        flex-shrink: 0;
        background: var(--Light-gray, #f0f0f0);
      }
      &-type {
        margin-top: 10px;
        color: var(--point, #1acfaf);

        /* web. light.20 */
        font-family: Pretendard;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 28px; /* 140% */
      }
      &-title {
        margin-top: 10px;
        color: #000;
        font-family: Pretendard;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px; /* 145.455% */
      }
      &-date {
        margin-top: 10px;
        color: var(--Midium-gray, #9e9e9e);

        /* web. light.20 */
        font-family: Pretendard;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 28px; /* 140% */
      }
    }
  }
  &-readmore {
    margin: auto;
    border-radius: 10px;
    border: 1px solid var(--Dark-gray, #3c3c3c);
    width: 186px;
    height: 44px;
    background-color: white;
    color: var(--Dark-gray, #3c3c3c);
    text-align: center;
    margin-top: 62px;
    /* web. light.20 */
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px; /* 140% */
  }
}
