.orca {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.orca-what-background {
  width: 100%;
  background: linear-gradient(90deg, #000 26.98%, rgba(0, 0, 0, 0) 100%);
}
.orca-what {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1192px;
  height: 727px;
  margin: auto;
  background: linear-gradient(90deg, #000 26.98%, rgba(0, 0, 0, 0) 100%);
}
.orca-what-box {
  width: 948px;
  height: 364px;
  color: white;
  display: grid;
  grid-template-columns: 1fr 2.02fr;
  grid-template-rows: 1.5fr 1fr;
  margin-top: 213px;
  position: relative;
  grid-template-areas: "head head" "about body";
}
.orca-what-box-head {
  align-self: end;
  color: white;
  font-size: 60px;
  font-family: Pretendard;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 70px;
  letter-spacing: normal;
  grid-area: head;
  margin-bottom: 42px;
}
.orca-what-box-about {
  color: white;
  font-size: 22px;
  font-family: Pretendard;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 28px;
  letter-spacing: normal;
  height: 28px;
  grid-area: about;
}
.orca-what-box-body {
  color: white;
  font-size: 30px;
  font-family: Pretendard;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 36.5px;
  letter-spacing: normal;
  grid-area: body;
  width: 644px;
  height: 106px;
}
.orca-goal {
  width: 1192px;
  height: 210px;
  margin: auto;
  margin-top: 150px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.orca-goal-box {
  width: 1040px;
  height: 210px;
  display: grid;
  grid-template-rows: 98px 112px;
  grid-template-columns: 456px 584px;
  position: relative;
  grid-template-areas: "head head" "body1 body2";
}
.orca-goal-box-head {
  color: black;
  font-size: 60px;
  font-family: Pretendard;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 28px;
  letter-spacing: normal;
  grid-area: head;
  width: 668px;
  height: 28px;
}
.orca-goal-box-body1 {
  color: black;
  font-size: 22px;
  font-family: Pretendard;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 28px;
  letter-spacing: normal;
  width: 432px;
  height: 112px;
  grid-area: body1;
}
.orca-goal-box-body2 {
  color: black;
  font-size: 22px;
  font-family: Pretendard;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 28px;
  letter-spacing: normal;
  width: 584px;
  height: 84px;
  grid-area: body2;
}
.orca-benefits {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1192px;
  height: 664px;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 150px;
}
.orca-benefits-box {
  display: flex;
  flex-direction: column;
  width: 941px;
  height: 664px;
  margin-left: 152px;
}
.orca-benefits-box-head {
  margin-bottom: 70px;
  color: #000;
  font-family: Pretendard;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 46.667% */
}
.orca-benefits-box-body1, .orca-benefits-box-body3, .orca-benefits-box-body2 {
  display: grid;
  grid-template-columns: 152px 432px;
  grid-template-rows: 52px 84px;
  width: 584px;
  height: 136px;
  margin-bottom: 80px;
  grid-template-areas: "graybox head" "graybox body";
}
.orca-benefits-box-body1-square, .orca-benefits-box-body3-square, .orca-benefits-box-body2-square {
  grid-area: graybox;
  width: 128px;
  height: 136px;
  background: var(--Light-gray, #f0f0f0);
}
.orca-benefits-box-body1-head, .orca-benefits-box-body3-head, .orca-benefits-box-body2-head {
  grid-area: head;
  width: 426px;
  height: 28px;
  color: #000;
  /* web. semi.30 */
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 93.333% */
}
.orca-benefits-box-body1-body, .orca-benefits-box-body3-body, .orca-benefits-box-body2-body {
  grid-area: body;
  width: 432px;
  height: 84px;
  color: #000;
  /* web. re.22 */
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
}
.orca-benefits-box-body2-head {
  width: 559px;
}
.orca-benefits-box-body3-head {
  width: 784px;
}
@media (max-width: 1400px) {
  .orca {
    justify-content: center;
  }
  .orca-what {
    width: 900px;
  }
  .orca-what-box {
    width: 771px;
    height: 250px;
  }
  .orca-what-box-head {
    font-size: 45px;
  }
  .orca-what-box-about {
    font-size: 20px;
    margin-top: 20px;
  }
  .orca-what-box-body {
    width: 542px;
    margin-top: 20px;
    color: white;
    font-size: 25px;
    font-family: Pretendard;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 35px;
    letter-spacing: normal;
  }
  .orca-goal {
    width: 900px;
  }
  .orca-goal-box {
    width: 771px;
    height: 250px;
  }
  .orca-goal-box-head {
    font-size: 45px;
  }
  .orca-goal-box-body1 {
    width: 400px;
  }
  .orca-goal-box-body2 {
    width: 440px;
    margin-left: 0px;
  }
  .orca-benefits {
    width: 900px;
  }
  .orca-benefits-box {
    width: 771px;
    margin-left: 0px;
  }
  .orca-benefits-box-body1, .orca-benefits-box-body2, .orca-benefits-box-body3 {
    grid-template-columns: 141px 630px;
    grid-template-rows: 40px 50px;
    width: 771px;
    margin-bottom: 20px;
  }
  .orca-benefits-box-body1-square, .orca-benefits-box-body2-square, .orca-benefits-box-body3-square {
    width: 90px;
    height: 90px;
  }
  .orca-benefits-box-body1-head, .orca-benefits-box-body2-head, .orca-benefits-box-body3-head {
    font-size: 20px;
  }
  .orca-benefits-box-body1-body, .orca-benefits-box-body2-body, .orca-benefits-box-body3-body {
    font-size: 15px;
  }
}
@media (max-width: 1023px) {
  .orca {
    justify-content: center;
  }
  .orca-what {
    width: 700px;
  }
  .orca-what-box {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 250px;
  }
  .orca-what-box-head {
    align-self: start;
    color: white;
    font-size: 30px;
    font-family: Pretendard;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 45px;
    letter-spacing: normal;
  }
  .orca-what-box-about {
    font-size: 16px;
    margin-top: 0px;
  }
  .orca-what-box-body {
    width: 500px;
    margin-top: 20px;
    color: white;
    font-size: 19px;
    font-family: Pretendard;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 28px;
    letter-spacing: normal;
  }
  .orca-goal {
    width: 700px;
  }
  .orca-goal-box {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 250px;
  }
  .orca-goal-box-head {
    color: black;
    font-size: 30px;
    font-family: Pretendard;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 28px;
    letter-spacing: normal;
  }
  .orca-goal-box-body1 {
    width: 500px;
    margin-top: 50px;
    color: black;
    font-size: 16px;
    font-family: Pretendard;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 28px;
    letter-spacing: normal;
  }
  .orca-goal-box-body2 {
    width: 500px;
    margin-top: 15px;
    color: black;
    font-size: 16px;
    font-family: Pretendard;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 28px;
    letter-spacing: normal;
  }
  .orca-benefits {
    width: 700px;
  }
  .orca-benefits-box {
    width: 600px;
    margin-left: 0px;
  }
  .orca-benefits-box-head {
    color: black;
    font-size: 45px;
    font-family: Pretendard;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 28px;
    letter-spacing: normal;
  }
  .orca-benefits-box-body1, .orca-benefits-box-body2, .orca-benefits-box-body3 {
    grid-template-columns: 110px 490px;
    grid-template-rows: 40px 50px;
    width: 600px;
    margin-bottom: 20px;
  }
  .orca-benefits-box-body1-square, .orca-benefits-box-body2-square, .orca-benefits-box-body3-square {
    width: 90px;
    height: 90px;
  }
  .orca-benefits-box-body1-head, .orca-benefits-box-body2-head, .orca-benefits-box-body3-head {
    font-size: 20px;
  }
  .orca-benefits-box-body1-body, .orca-benefits-box-body2-body, .orca-benefits-box-body3-body {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .orca {
    justify-content: center;
  }
  .orca-what {
    width: 400px;
    height: 500px;
  }
  .orca-what-box {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 250px;
  }
  .orca-what-box-head {
    color: white;
    font-size: 19px;
    font-family: Pretendard;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 28px;
    letter-spacing: normal;
  }
  .orca-what-box-about {
    margin-top: 0px;
    font-size: 14px;
  }
  .orca-what-box-body {
    width: 300px;
    margin-top: 10px;
    color: white;
    font-size: 12px;
    font-family: Pretendard;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 20px;
    letter-spacing: normal;
  }
  .orca-goal {
    width: 400px;
    height: 350px;
  }
  .orca-goal-box {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
  }
  .orca-goal-box-head {
    width: 300px;
    color: black;
    font-size: 19px;
    font-family: Pretendard;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 24px;
    letter-spacing: normal;
  }
  .orca-goal-box-body1 {
    width: 300px;
    margin-top: 30px;
    color: black;
    font-size: 12px;
    font-family: Pretendard;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 20px;
    letter-spacing: normal;
  }
  .orca-goal-box-body2 {
    width: 300px;
    color: black;
    font-size: 12px;
    font-family: Pretendard;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 20px;
    letter-spacing: normal;
  }
  .orca-benefits {
    width: 400px;
    height: 550px;
    margin-top: 50px;
    margin-bottom: 0px;
  }
  .orca-benefits-box {
    width: 300px;
    margin-left: 0px;
  }
  .orca-benefits-box-head {
    color: black;
    font-size: 25px;
    font-family: Pretendard;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 28px;
    letter-spacing: normal;
    margin-bottom: 40px;
  }
  .orca-benefits-box-body1, .orca-benefits-box-body2, .orca-benefits-box-body3 {
    grid-template-columns: 100px 200px;
    grid-template-rows: 50px 50px;
    margin-bottom: 0px;
    width: 300px;
  }
  .orca-benefits-box-body1-square, .orca-benefits-box-body2-square, .orca-benefits-box-body3-square {
    width: 90px;
    height: 90px;
  }
  .orca-benefits-box-body1-head, .orca-benefits-box-body2-head, .orca-benefits-box-body3-head {
    width: 200px;
    font-size: 14px;
    line-height: 1;
  }
  .orca-benefits-box-body1-body, .orca-benefits-box-body2-body, .orca-benefits-box-body3-body {
    width: 200px;
    font-size: 11px;
    line-height: 14px;
  }
}/*# sourceMappingURL=orca.styles.css.map */